name: Deploy to EC2

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy application to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          request_pty: true
          script: |
            sudo apt update
            sudo apt install apache2 -y

            sudo rm -rf /var/www/html/*
            sudo cp index.html /var/www/html/
            sudo cp style.css /var/www/html/
            sudo cp script.js /var/www/html/

            sudo systemctl restart apache2
