name: Deploy to EC2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Debug Secret
        run: |
          echo "User: ${{ secrets.EC2_USER }}"
          echo "Host: ${{ secrets.EC2_HOST }}"
          echo "${{ secrets.EC2_KEY }}" | wc -l

      - name: Deploy application to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            echo "Connected successfully"
